/*selector universal*/
*{
    margin: 0;
    margin: 0;
}
/*selector de etiqueta*/

body{
  background-color: rgb(160, 157, 153);
  color: rgb(0, 0, 0);

}
/*selector de id*/

 #contenedor{

height: 4000px;
background-color: rgb(35, 53, 77);
margin: 10px;
padding: 20px;


 }
 #encabezado{
    width: 95%;
    background-color: rgb(6, 5, 49);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

 }
 #menu{
    height: 50px;
    background-color: rgb(203, 233, 223);
    margin: 1em;
    border-radius: 5px;
 }
 /*selector de etiqueta para el menu*/
 ul{
    text-align: center;
    padding: 10px;
 }
 li{
    display: inline;
    padding: 10px;
    margin: 1em;
 }
 img:hover{
    width: 50%;
 }
 
 /*selector de clase*/
 .img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
 }
 .texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #faf9f9fd;
 }
 .pie{
    height: 20px;
    background-color: aliceblue;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
 }
 .pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(27, 78, 57);

 }
 
