/*selector universal*/
*{
    margin: 0;
    margin: 0;
}
/*selector de etiqueta*/

body{
  background-color: rgb(152, 247, 128);
  color: rgb(0, 0, 0);


}
/*selector de id*/

#contenedor{
    width: 1000px;
    height: 2250px;
    background-color: #fdfbfb;
    margin: 10px;
    padding: 20px;
    
     }
#encabezado
{
        width: 1000px;
        height: 450;
        background-color:#36801D; 
        margin: 1em;
      
    
 }
 #encabesado
 {
    width: 900px;
    height: auto;
    background-color:#74F148; 
    margin: 1em;
    border-radius: 18px;
    text-align: center;
 }
 
 #menu{
    height: 53px;
    background-color: #74F148;
    margin: 1em;
    border-radius: 5px;
 }

 
 /*selector de etiqueta para el menu*/
 ul{
    text-align: center;
    padding: 10px;
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
 img:hover{
   
   width: 100%;
   height: 200px;
 }
 

 li a:hover{
    color: #000000;
    font-size: 21px;
    text-decoration: none;
    list-style: none;
 }
 .img{
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
    justify-items: center;
  
 }

 .texto{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #ffffffff;
 }
 .pie{
    height: 30px;
    width: 920px;
    background-color:#74F148;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
 }
 .pie h4{
    padding: 5px;
    width: 910px;
    height: 80px;
    text-align: center;
    align-content: center;
    font-size: 30px;
    background-color: #36801D;
   }


/*card*/


.lulu
 {
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 220px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 20px;
   background-color: #36801D;



 }
.lulu:hover{
  max-width: 240px; 
  height: 440px;
}


.lulu img{
  background-color: white;
}

.tittle{
  color: aquamarine;
  font-size: 10px;
}
button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1f4911;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}
button:hover{
   background-color: #74F148;
   color: #000000;
}

.pit{
   width: 380px;
   padding: 8px;
   height: 35px;
   
   border: 2px solid;
   text-align: center;
   line-height: 25px;
 background-color: #56b733;
 color: rgb(25, 75, 18);
}
.pit:hover{
   background-color: #1f4911;
   color: #fffefe;
}

.item{
  
   max-width: 200px;
   margin: 5px;
   border: 2px solid;
   text-align: center;
   line-height: 25px;
   font-size: 25px;
  
}



.contenedorflexy{
   display: flex;
   width: 1000px;
   flex-direction: row;
 justify-content: center;
   background-color:#fdfbfb;
   padding: 2px;
  
}





 


